@charset "UTF-8"

* {
    padding: 0%;
    margin: 0%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


body {
    width: 95vw;
    height: 95vh;
    background: black url(imagens/tela-home.jpg) no-repeat top center;
    background-size: cover;
}

